.card_container {
  transition: all 0.3s;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 25px 15px;
}

.card_container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card {
  display: flex;
  align-items: center;
}

.image {
  width: 150px;
  min-width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

.image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  opacity: 0.7;
  text-align: justify;
}

.skills {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}

.skills span {
  border: 1px solid rgba(255, 136, 136, 0.5);
  border-radius: 5px;
  padding: 3px 5px;
}

.rating {
  display: flex;
  gap: 10px;
  align-items: center;
}

.star {
  font-size: 25px;
}

.btns {
  display: flex;
  gap: 6px;
}

.btns a,
.btns button {
  padding: 6px 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #ff6b6b;
  color: #ff6b6b;
  background: #fff;
  font-weight: 500;
  font-size: 14px;
}

.btns a:first-child,
.btns button:first-child {
  background: #ff6b6b;
  color: #fff;
}

.btns a:hover,
.btns button:hover {
  background: #ff6b6b;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  .card {
    flex: 1 1 100%;
    flex-direction: column;
    gap: 20px;
  }
  .image {
    width: 100px;
    height: 100px;
    min-width: 100px;
  }
  .image img {
    border: 2px solid rgba(255, 136, 136, 0.5);
    border-radius: 50%;
    background: #fff;
  }
  .info {
    text-align: center;
    align-items: center;
  }
}
